.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

svg {
  display: block;
}

.primaryFontLoaded {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  .button {
    font-family: 'Lato', sans-serif;
  }
}

.secondaryFontLoaded {
  p, .f-secondary {
    font-family: 'Gentium Basic', serif;
  }
}

label {
  font-size: $fs-tn;
  line-height: 2.75;
  text-transform: uppercase;
  font-weight: bold;
}

.leaflet-container {
  height: 540px;
  width: 100%;
}
.leaflet-default-icon-path {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/images/marker-icon.png') !important;
}

.contactLink {
  color: $white;
  text-decoration: none;
  font-size: $fs-sm;
  font-weight: bold;
}

.rw-popup-container.rw-calendar-popup {
  width: 22em !important;
}

.formModal__content {
  max-height: 90%;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  z-index: 1001;
}
